<div class="first-div flex items-center justify-center min-h-screen">
    <div class="text-center">
        <img src="../../../assets/logo.jpg" alt="Logo" class="logo mx-auto mb-8">
        <div class="flex flex-col items-center space-y-4">
            <button
                class="font-inter rounded-lg bg-black py-4 px-8 text-lg font-bold uppercase text-white shadow-md shadow-black/20 transition-all hover:shadow-lg hover:shadow-black/40 focus:opacity-85 focus:shadow-none active:opacity-85 active:shadow-none"
                data-ripple-dark="true">
                Sign Up
            </button>
            <button
                class="font-inter rounded-lg bg-black py-4 px-8 text-lg font-bold uppercase text-white shadow-md shadow-black/20 transition-all hover:shadow-lg hover:shadow-black/40 focus:opacity-85 focus:shadow-none active:opacity-85 active:shadow-none"
                data-ripple-dark="true">
                Sign In
            </button>
        </div>
    </div>
</div>