@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.first-div {
    // background-image: url('../../../assets/logo.jpg');
    // background-size: cover;
    // background-position: center;
    // background-repeat: no-repeat;
    background-color: black;
    height: 100vh;
    width: 100vw;
}

.logo {
    width: 60%;
    max-width: 600px;
    /* Ensures the logo doesn't get too large on larger screens */
}

@media (max-width: 768px) {
    .logo {
        width: 95%;
        max-width: 475px;
        /* Adjust the max width for smaller screens */
    }
}

.font-inter {
    font-family: 'Inter', sans-serif;
}